---
import Layout from "../../layouts/Layout.astro";

export const prerender = false;
const {player, token} = Astro.params

if (!player || !token || player.length !== 36 || token.length !== 36) {
    return Astro.redirect("/", 303)
}
---

<Layout>
    <main id="container" style="display: flex; flex-direction: column; max-width: 50%; gap: 0.5em">
        <h1>Voicechat</h1>
        <span>Player: <code>{player}</code></span>
        <span>Token: <code>{token}</code></span>
        <span id="state">Disconnected</span>
        <x-connect data-player={player} data-token={token}>
            <button>Verbinden</button>
        </x-connect>
        <pre id="logs"></pre>
    </main>
    <script>
        import { VoiceSocket } from "../../scripts/socket.ts";

        const span = document.getElementById("state")!! as HTMLSpanElement
        const logs = document.getElementById("logs")!! as HTMLPreElement
        window.lllog = (line: string) => {
            console.log(line)
            const prevContent = logs.textContent || ""
            logs.textContent = prevContent + "\n" + line;
        }

        const connect = (btn: HTMLButtonElement, player: string, token: string) => {
            window.lllog("button")
            btn.disabled = true;
            span.textContent = "Connecting..."
            const socket = new VoiceSocket(player)
            socket.on("open", () => span.textContent = "Connected!")
            socket.on("reconnect", () => span.textContent = "Reconnecting...")
            socket.on("maximum", () => span.textContent = "Disconnected")
            socket.open(token)
        }

        class ConnectButton extends HTMLElement {
            connectedCallback() {
                window.lllog("callback")
                const player = this.dataset.player!!
                const token = this.dataset.token!!
                const button = this.querySelector("button")!!
                button.addEventListener("click", () => connect(button, player, token))
            }
        }

        customElements.define("x-connect", ConnectButton)
    </script>
</Layout>