---
import Button from "../components/Button";
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
    <div class="h-full flex flex-col items-center justify-center gap-6">
        <span class="text-lg">
            <span class="text-gray-500">404 |</span>
            <span class="text-gray-200">Page not found</span>
        </span>
        <Button color="purple"><a href="/">Back to home</a></Button>
    </div>
</Layout>
