---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <div class="h-full flex flex-col items-center justify-center gap-6">
        <div class="flex gap-1 items-center">
            <p class="text-gray-500 text-lg">404 | </p>
            <p class="text-gray-200 text-lg">Page not found</p>
        </div>
        <a href="/" class="text-md p-3 pl-6 pr-6 rounded-xl bg-indigo-500 hover:bg-indigo-600">Back to home</a>
    </div>
</Layout>