---
import Layout from "../layouts/Layout.astro";

export const prerender = false;
const {token} = Astro.params

if (!token) {
    Astro.redirect("/", 303)
}
---

<Layout>
    <main id="container" style="display: flex; flex-direction: column; max-width: 30%; gap: 0.5em">
        <h1>Voicechat</h1>
        <span>Token: <code>{token}</code></span>
        <span id="state"></span>
        <x-connect data-token={token}>
            <button>Verbinden</button>
        </x-connect>
    </main>
    <script>
        import {buildSocket} from "../scripts/socket.ts";

        const span = document.getElementById("state")!! as HTMLSpanElement

        const connect = (btn: HTMLButtonElement, token: string) => {
            btn.disabled = true;
            span.textContent = "Connecting..."
            console.log(buildSocket(token,
                () => span.textContent = "Connected!"))
        }

        class ConnectButton extends HTMLElement {
            connectedCallback() {
                const token = this.dataset.token!!
                const button = this.querySelector("button")!!
                button.addEventListener("click", () => connect(button, token))
            }
        }

        customElements.define("x-connect", ConnectButton)
    </script>
</Layout>