---
import Layout from "../layouts/Layout.astro";

export const prerender = true;
---

<Layout>
    <main style="display: flex; flex-direction: column; max-width: 30%; gap: 0.5em">
        <h1>Voicechat</h1>
    </main>
</Layout>