---
// global stylesheets
import "../../styles/globals.css";

// import global font
import "@fontsource/poppins/400.css";
import poppins400 from "@fontsource/poppins/files/poppins-latin-400-normal.woff2?url";
import "@fontsource/poppins/500.css";
import poppins500 from "@fontsource/poppins/files/poppins-latin-500-normal.woff2?url";
import "@fontsource/poppins/600.css";
import poppins600 from "@fontsource/poppins/files/poppins-latin-600-normal.woff2?url";

export interface HeadProps {
    title?: string;
}
interface Props extends HeadProps {
}

const {
    title = "Audio System",
} = Astro.props;
---

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<meta name="color-scheme" content="dark"/>

<title>{title}</title>

<link rel="prefetch" href={poppins400}/>
<link rel="prefetch" href={poppins500}/>
<link rel="prefetch" href={poppins600}/>
