---
import Layout from "../../layouts/Layout.astro";
import VoiceContainer from "../../components/VoiceContainer";
import {constructSocketUrl, TOKEN_LENGTH} from "../../scripts/util/util.ts";

export const prerender = false;
const {token} = Astro.params;

if (!token || token.length !== TOKEN_LENGTH) {
    return Astro.redirect("/", 303);
}
---

<Layout>
    <main id="container" style="display: flex; flex-direction: column; gap: 0.5em">
        <h1 style={{marginBottom: "0"}}>Voicechat</h1>
        <VoiceContainer client:only socket={constructSocketUrl(token)} token={token}></VoiceContainer>
    </main>
</Layout>
