---
import type {HeadProps} from "../components/base/BaseHead.astro";
import BaseHead from "../components/base/BaseHead.astro";
import "../styles/globals.css";

interface Props extends HeadProps {
}
---

<!doctype html>
<html lang="de" class="h-full">
<head>
    <BaseHead {...Astro.props}/>
    <slot name="head"/>
</head>
<body class="h-full bg-stone-950">
<slot/>
</body>
</html>
